/*****************************************************************************/

.bg {
    background-color: #1f2937;
}

.container {
    display: flex;
}

.nav {
    justify-content: space-between;
    padding: 24px 150px 0 150px;
    margin-bottom: 100px;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.link-header {
    flex: 1;
    gap: 12px;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 18px;
    color: #e5e7eb;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/*****************************************************************************/

.main {
    justify-content: space-between;
    gap: 48px;
    padding: 0 150px 100px 150px;
}

.left-side {
    flex-flow: column wrap;
    flex: 1;
    gap: 10px;
    align-items: flex-start;
}

.left-side h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.left-side p {
    color: #e5e7eb;
    font-size: 18px;

}

.left-side button {
    border: 0;
    padding: 5px 24px;
    border-radius: 5px;
    background-color: #4882f6;
    color: white;
    font-weight: bold;
}

.right-side {
    flex: 1;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    color: white;
}

/*****************************************************************************/
.section-uno{
    display: flex;
    flex-flow: column wrap;
    gap: 36px;
    margin: 0 150px 100px 150px;
}

.heading-info {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-top: 24px;
    font-weight: 900;
}

.box-0 {
    justify-content: space-around;
}

.box-1 {
    flex-flow: column wrap;
    align-items:center;
    gap: 8px;
}

.box-2 {
    width: 200px;
    height: 200px;
    border: 4px solid #4882f6;
    border-radius: 15px;
    flex: 1 1 auto;
}

.container.box-1 p {
    text-align: center;
    font-size: 18px;
    margin: 0 24px;
    color: #6d747d;
}

/*****************************************************************************/

.quote {
    background-color: #e5e7eb;
    flex-flow: column wrap;
    padding: 100px 200px;
    gap: 24px;
}

blockquote > p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

figcaption {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}
/*****************************************************************************/

.section-3 {
    justify-content: space-between;
    margin: 100px 150px;
    align-items: center;
    padding: 48px 96px;
    background-color: #4882f6;
    color: white;
    border-radius: 8px;

}

.under-section-3 {
    flex-flow: column wrap;
    gap:8px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.container.under-section-3 p {
    color:#e5e7eb;
}

.container.section-3 button {
    padding: 6px 36px;
    background-color: #4882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: 3px solid white;
}

footer p {
    text-align: center;
    color: #e5e7eb;
    padding: 36px 0;
    font-size: 18px;
}

/*****************************************************************************/