/*****************************************************************************/

.bg {
    background-color: #1f2937;
}

.container {
    display: flex;
}

.nav {
    justify-content: space-between;
    padding: 24px 150px 0 150px;
    margin-bottom: 100px;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.link-header {
    flex: 1;
    gap: 12px;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 18px;
    color: #e5e7eb;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/*****************************************************************************/

.main {
    justify-content: space-between;
    gap: 48px;
    padding: 0 150px 100px 150px;
}

.left-side {
    flex-flow: column wrap;
    flex: 1;
    gap: 10px;
    align-items: flex-start;
}

.left-side h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.left-side p {
    color: #e5e7eb;
    font-size: 18px;

}

.left-side button {
    border: 0;
    padding: 5px 24px;
    border-radius: 5px;
    background-color: #4882f6;
    color: white;
    font-weight: bold;
}

.right-side {
    flex: 1;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    color: white;
}

/*****************************************************************************/